html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.content {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 45em;
  transform: translate(-50%, -50%);
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1rem;
  left: 50%;
  top: 50%;
}

.img-flex {
  display: block;
  width: 100%;
}

.stuff {
  z-index: 100;
  width: 60%;
}

.stuff h2 {
font-family: "Roboto Condensed", sans-serif;
font-weight: bold;
font-size: 3rem;
line-height: 1.2;
max-width: 6em;
}

.mecha {
  position: relative;
  width: 35%;
}

.stuff p {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
}
