html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.content {
  display: flex;
  position: absolute;
  width: 100%;
  max-width: 45em;
  transform: translate(-50%, -50%);
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1rem;
  left: 50%;
  top: 50%;
}

.img-flex {
  display: block;
  width: 100%;
}
